<div class="row">
  <h1>New User</h1>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for (@user) do |f| %>
      <%= render 'create_fields', f: f %>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
